.blockRight_container {
  background: linear-gradient(30deg, var(--tonecolor) 10%, var(--element) 100%);
  border-right: 0.3vw solid var(--maincolor);
  padding: 20px;
  border-radius: 0.2vw;
  text-align: justify;
  overflow: hidden;
  overflow-y: scroll;
  pointer-events: all;
}

.blockRight_projectTitle {
  position: relative;
  margin-top: 3vh;
  margin-left: 2vw;
}

.blockRight_subTitle {
  position: absolute;
  transform: translateX(-18px) translateY(-16px) rotate(-7deg);
  color: var(--blackish);
}

.blockRight_projectInfo {
  text-align: left;
  margin-top: 1.5vh;
  margin-left: 2vw;
  margin-bottom: 2vw;
  margin-right: 2vw;
  line-height: 2;
}

.blockRight_doodle {
  position: absolute;
  width: 80px;
  bottom: 0px;
  left: 120px;
}

.githubLinkContainer {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.githubLogo{
  height: 42px;
}
.gitHubLink {
  cursor: pointer;
  animation-name: blink;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  &:hover {
    animation: none;
    color: var(--accentcolor);
  }
}

@keyframes blink {
  0% {color: var(--blackish)}
  25% {color: var(--maincolor)}
  50% {color: var(--blackish)}
  100% {color: var(--blackish)}
}

@media only screen and (max-width: 1400px) {
  .blockRight_container {
    width: 80vw;
  }
}

@media only screen and (max-width: 1400px) {
  .blockRight_container {
    margin-top: 1vw;
  }
}

@media only screen and (max-width: 800px) {
  .blockRight_container {
    margin-top: calc(1vw + 60px);
  }
}

@media only screen and (max-width: 624px) {
  .blockRight_doodle {
    left: 90px;
    width: 60px;
  }
  .font_normal{
    font-size: 1em;
  }
}
