.blockRight_container {
  position: relative;
  background: linear-gradient(30deg, var(--tonecolor) 10%, var(--element) 100%);
  border-right: 0.3vw solid var(--maincolor);
  padding: 1vw;
  overflow: hidden;
  border-radius: 0.2vw;
  text-align: justify;
}

.blockRight_projectTitle {
  margin-top: 3vh;
  margin-left: 1vw;
}

.blockRight_subTitle {
  transform: translateY(-16px) translateX(-18px) rotate(-7deg);
  color: var(--blackish);
}

.blockRight_projectInfo {
  margin-top: 1.5vh;
  margin-left: 1vw;
  margin-bottom: 2vw;
  margin-right:3vw;
}

.blockRight_doodle {
  position: absolute;
  width: 58px;
  transform: translateX(140px) translateY(-50px);
}

.githubLinkContainer {
  position: absolute;
  display: flex;
  width: 37vw;
  margin-left: 1vw;
  gap: 10px;
  align-content: center;
  align-items: center;
}

