.thumbnail {
  position: relative;
}

.shiftText {
  pointer-events: none;
  user-select: none;
}

.wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: justify;
  border-right: 0.3vw solid var(--maincolor);
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  background-clip: text;
  background-size: cover;
  color: transparent;
  font-size: 40%;
  word-spacing: -0.03em;
  letter-spacing: -0.03em;
  line-height: 0.7em;
  border-radius: 3px;
}

@keyframes wrapperAnimation {
  0%{
    font-size: 0.8em;
    letter-spacing: -0.3em;
    line-height: 0.7;
  }
  80%{
    letter-spacing: -0.3em;;
  }
  100%{
    font-size: 40em;
    letter-spacing: -0.4em;
    line-height: 0.2;
    text-align: center;
  }
}

@media screen and (min-width: 2000px) {
  .wrapper {
    font-size: 50%;;
  }
}
@media screen and (min-width: 2700px) {
  .wrapper {
    font-size: 60%;;
  }
}
@media screen and (min-width: 3000px) {
  .wrapper {
    font-size: 75%;;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    background-clip: unset;
  }
}