.shader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--blackish);
    z-index: 750;
    opacity: 0.7;
    pointer-events: none;
    transition-duration: 0.6s;
}

.hideshader {
    opacity: 0;
}