.shader {
    position: absolute;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--blackish);
    z-index: 750;
    opacity: 0.7;
    pointer-events: none;
    transition-duration: 2s;
}

.hideshader {
    opacity: 0;
    transition-duration: .25s;
}