:root {
  ///basecolorset///
  --background: rgba(195, 200, 215, 1);
  --element: rgba(166, 171, 182, 1);
  --text: rgba(90, 90, 90, 1);
  --showhide: rgba(140, 140, 140, 1);
  --shadow: rgba(0, 0, 0, .4);
  --halfshadow: rgba(101, 102, 104, .5);
  --light: rgba(235, 238, 245, 0.5);
  --blackish: rgba(40, 40, 40, 1);
  --transparent: rgba(0, 0, 0, 0);
  --darkCarousel: rgba(87, 88, 93, 1);
  --offWhite: rgba(222, 252, 250, 1);
  --halfblack: rgba(0, 0, 0, .6);

  /// colorset 1 ///
  --maincolor1: rgb(0, 150, 150);
  --doodle1: rgba(0, 150, 150, 1);
  --accentcolor1: rgba(0, 255, 255, 1);
  --tonecolor1: rgba(185, 190, 210, 1);
  --tonecolor1_Transp: rgba(185, 190, 210, 0.7);
  --darkcolor1: rgba(0, 25, 75, 1);
  --backgroundPulse1: rgb(197, 217, 223);
  --backgroundPulseLight1: rgb(157, 188, 197);

  /// colorset 2 ///
  --maincolor2: rgb(100, 0, 75);
  --doodle2: rgba(100, 0, 75, 1);
  --accentcolor2: rgba(255, 0, 100, 1);
  --tonecolor2: rgba(192, 192, 212, 1);
  --tonecolor2_Transp: rgba(192, 192, 212, 0.7);
  --darkcolor2: rgba(75, 0, 0, 1);
  --backgroundPulse2: rgb(217, 197, 223);
  --backgroundPulseLight2: rgb(172, 146, 180);

  /// colorset 3 ///
  --maincolor3: rgb(150, 150, 0);
  --doodle3: rgba(150, 150, 0, 1);
  --accentcolor3: rgba(255, 255, 0, 1);
  --tonecolor3: rgba(195, 195, 215, 1);
  --tonecolor3_Transp: rgba(195, 195, 215, 0.7);
  --darkcolor3: rgba(35, 35, 0, 1);
  --backgroundPulse3: rgb(202, 201, 178);
  --backgroundPulseLight3: rgb(187, 187, 139);

  /// Adjustable colorset ///
  --maincolor: var(--maincolor1);
  --accentcolor: var(--accentcolor1);
  --tonecolor: var(--tonecolor1);
  --tonecolorTransp: var(--tonecolor1_Transp);
  --darkcolor: var(--darkcolor1);
  --backgroundPulse: var(--backgroundPulse1);
  --backgroundPulseLight: var(--backgroundPulseLight1);
  --doodle: var(--transparent);
  --doodlePositive: var(--blackish);
  --doodleNegative: var(--maincolor);
}
