@import "./colors";
@import "./fonts";

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var (--text);
  min-height: 100vh;
  font-family: 'Amiri';
  font-weight: 600;
  line-height: 1;
}

::-webkit-scrollbar {
  display: none;
}