@import "./colors";
@import "./fonts";
@import "./scrollbar";

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  min-height: 100%;
  font-family: 'Amiri';
  font-weight: 600;
  line-height: 1;
  max-width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 1400px) {
  body {
    overflow-Y: scroll;
    overflow-x: hidden;
  }
}

