.modal-container {
  position: absolute;
  background-color: var(--tonecolor);
  z-index: 999;
  animation: imgGrow 250ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: justify;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -2px 2px 20px var(--shadow), inset 5px -5px 5px var(--light);
}

.modal-container_left {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--tonecolor);
  z-index: 999;
  animation: imgGrowLeft 250ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: justify;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -2px 2px 20px var(--shadow), inset 5px -5px 5px var(--light);
}

.modal-container_right {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--tonecolor);
  z-index: 999;
  animation: imgGrowRight 250ms ease-in-out;
  animation-fill-mode: forwards;
  text-align: justify;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -2px 2px 20px var(--shadow), inset 5px -5px 5px var(--light);
}

.modal-image {
  background-size: cover;
  background-clip: text;
  color: transparent;
  font-size: 0.8em;
  word-spacing: -0.03em;
  letter-spacing: -0.04em;
  line-height: 0.7em;
  animation: imgAnimation 1.6s ease-in;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.modal-content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0.5vw;
  color: var(--text);
  animation: contentGrow 180ms ease-out;
  animation-delay: 120ms;
  animation-fill-mode: forwards;
  height: fit-content
}

.modal-title {
  position: relative;
  margin-top: 0.1vw;
  margin-bottom: 0.5vw;
  padding-top: 0.2vw;
  height: fit-content;
}

.modal-project-description {
  position: relative;
  font-size: 0.7em;
  margin-top:  1vh;
  margin-bottom:  1vh;
  height: fit-content;
}

.modal-buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
}

.typewriter {
  font-size: 2em;
  font-weight: 700;
  margin-right: 0.1vw;
  overflow: hidden;
  border-right: 0.3em solid var(--accentcolor);
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 2.25s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {width: 0;}
  to {width: 85%;
  }
}

@keyframes blink-caret {
  from,
  to {border-color: transparent;}
  50% {border-color: var(--accentcolor);}
}

@keyframes imgGrow {
  from {
    transform:
    translateY(-30px)
  }
  to {
    bottom: 30px;
    transform:
    scale(120%)
  }
}

@keyframes imgGrowLeft {
  from {
    transform:
    translateX(0.6vw)
    translateY(-30px)
  }
  to {
    bottom: 30px;
    transform:
    scale(120%)
    translateX(2.03vw)
  }
}

@keyframes imgGrowRight {
  from {
    transform:
    translateX(-0.6vw)
    translateY(-30px)
  }
  to {
    bottom: 30px;
    transform:
    scale(120%)
    translateX(-2.03vw)
  }
}

@keyframes imgAnimation {
  0% {
    font-size: 0.8em;
    letter-spacing: -0.3em;
    line-height: 0.7;
  }
  80% {
    letter-spacing: -0.3em;
  }
  100% {
    font-size: 40em;
    letter-spacing: -0.4em;
    line-height: 0.2;
    text-align: center;
  }
}

@keyframes contentGrow {
  from { height: 0 }
}





@media only screen and (max-width: 600px) {
@keyframes imgGrow {
  from {
    transform:
    translateY(-30px)
  }
  to {
    bottom: 30px;
    transform:
    scale(110%)
    translateX(-3vw)
  }
}
}