.blockContainer {
    position: absolute;
    width: 100vw;
    top: 95px;
    display: flex;
    flex-direction: row;
    gap: calc(1vw - 6px);
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transform: translateX(calc(1vw - 6px));
}

@media only screen and (max-width: 1399px) {
    .blockContainer {
        flex-direction: column;
        justify-content: flex-start;
        top: 95px;
    }
    .blockLeft{
        order: 2;
    }
    .blockRight{
        order: 1;
        margin-bottom: 1vw;
    }
}

@media only screen and (max-width: 1794px) {
    .blockContainer {
    gap: calc(1vw - 3px);
    transform: translateX(calc(3px));
    }
}

@media only screen and (max-width: 997px) {
    .blockContainer {
    transform: translateX(calc(0px));
    }
}
