.blockContainer {
    position: absolute;
    width: 100vw;
    top: 95px;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
