.blockContainer {
    position: absolute;
    width: 100vw;
    top: 95px;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1400px) {
    .blockContainer {
        flex-direction: column;
        padding-bottom: 200px;
        justify-content: flex-start;
    }
}