.aboutMe_Container {
  position: relative;
}

.bioBlock_container {
  position: absolute;
  background-color: var(--element);
  border-radius: .2vw;
  padding: 1vw;
  box-shadow: -4px 4px 8px var(--shadow);
  transition-delay: 0.5s;
  height: fit-content;
}

.aboutMe_Button {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 84px;
  margin-bottom: 12px;
  font-weight: 10;
  cursor: pointer;
  &:hover {
    color: var(--maincolor);
    transition-duration: 0.7s;
    text-shadow: 1px 1px 3px var(--shadow)
                  -1px -1px 3px var(--accentcolor);
  }
}

.bioBlock_title {
  margin-bottom: 0.3em;
}

.BeardIconContainer {
  position: absolute;
  width: 250px;
  height: 250px;
  pointer-events: none;
}

.beard {
  position: relative;
  top: 5%;
  left:5%;
  height: 50%;
  width: 50%;
  left: 5%;
  rotate: 8deg;
}

.CurvedArrownDown {
  position: relative;
  top: -55%;
  left:-25%;
  height: 40%;
  width: 40%;
  rotate: -10deg;
}

.bio_doodle {
  position: relative;
  top: -48%;
  left:25%;
  height: 40%;
  width: 40%;
  rotate: -20deg;
  font-size: 26px;
}

@media only screen and (max-width: 800px) {
  .BeardIconContainer {
    width: 120px;
    height: 120px;
    right: -60px;
  }
  .bio_doodle {
    font-size: 16px;
  }
}