.aboutMe_Container {
  position: relative;
}

.bioBlock_container {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  background-color: var(--element);
  border-radius: 0.2vw;
  box-shadow: -4px 4px 8px var(--shadow);
  transition-delay: 0.5s;
  width: 80vw;
  right: -1vw;
  line-height: 2;
  overflow-y: scroll;
  padding: 2vw;
}
.bioBlock_title {
  z-index: 1;
}
.bioBlock_text {
  text-align: justify;
  z-index: 1;
}
.linkedIn {
  cursor: pointer;
  transition-duration: 0.2s;
  &:hover {
    color: var(--maincolor);
  }
}
.bioPic {
  margin-top:32px;
  width: 40vw;
  height: 60vw;
  background-image: url("../../assets/img/photo/BioMe.png");
  background-size: cover;
  background-position: center;
}
.bioText {
  width: 35vw;
  text-align: justify;
}
.BioModalCloseButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;;
  border: 2px solid var(--maincolor);
  color: var(--maincolor);
  background-color: transparent;
  border-radius: 50%;
  top: 2vw;
  right: 5vw;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &:hover {
    background-color: var(--maincolor);
    border-color: var(--accentcolor);
    color: var(--accentcolor);
  }
}

.aboutMe_Button {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 84px;
  margin-bottom: 12px;
  font-weight: 10;
  width: 225px;
  height: 90px;
  cursor: pointer;
  &:hover {
    color: var(--maincolor);
    transition-duration: 0.7s;
    text-shadow: 1px 1px 3px var(--shadow) -1px -1px 3px var(--accentcolor);
  }
}

.BeardIconContainer {
  position: absolute;
  width: 250px;
  height: 250px;
  pointer-events: none;
}

.beard {
  position: relative;
  top: 5%;
  left: 5%;
  height: 50%;
  width: 50%;
  left: 5%;
  rotate: 8deg;
}

.CurvedArrownDown {
  position: relative;
  top: -55%;
  left: -25%;
  height: 40%;
  width: 40%;
  rotate: -10deg;
}

.bio_doodle {
  position: relative;
  top: -48%;
  left: 25%;
  height: 40%;
  width: 40%;
  rotate: -20deg;
  font-size: 26px;
  user-select: none;
}

@media only screen and (max-width: 800px) {
  .BeardIconContainer {
    width: 120px;
    height: 120px;
    right: -60px;
  }
  .bio_doodle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 599px) {
  .bioBlock_container {
    position: absolute;
    flex-direction: column;
    width: 130vw;
    height: fit-content;
    left: -100%;
  }
  .bioPic {
  display: none;
  }
  .bioText {
    width: 110vw;
  }
}
