.colorButton {
    height: 50px;
    width: 35px;
    border: 2px solid var(--shadow);
    transform: skewX(-15deg);
    transition-duration: 400ms;
    filter: grayscale(100%);
    cursor: pointer;
}

.colorSet1 {
    background-color: var(--maincolor1);
    box-shadow: inset -1px -1px 15px var(--accentcolor1),
                inset  1px  1px 7px var(--light);
    border-radius: 30% 0 0 0;
    &:hover{
        filter: grayscale(0%);
        box-shadow: inset -5px -5px 20px var(--accentcolor1),
                    inset  1px  1px 5px var(--light);
    }
}

.colorSet2 {
    background-color: var(--maincolor2);
    box-shadow: inset -1px -1px 15px var(--accentcolor2),
                inset  0px  1px 2px var(--light);
    &:hover{
        filter: grayscale(0%);
        box-shadow: inset -5px -5px 20px var(--accentcolor2),
                    inset  0px  2px 7px var(--light);
    }
}

.colorSet3 {
    background-color: var(--maincolor3);
    box-shadow: inset -1px -1px 15px var(--accentcolor3),
                inset  0px  1px 2px var(--light);
    border-radius: 0 0 30% 0;
    &:hover{
        filter: grayscale(0%);
        box-shadow: inset -5px -5px 20px var(--accentcolor3),
                    inset  0px  1px 5px var(--light);
    }
}

.grayscaleOff {
    filter: grayscale(0%);
}

.colorselector_subTextContainer {
    position: absolute;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    translate: 25% -25%;
    rotate: 15deg;
    width: 280px;
}

.subtext_arrow {
    position: relative;
    transform: rotate(180deg);
    width: 35%;
}

.subtext_text {
    position: relative;
    transform: rotate(-8deg);
    width: 60%;
    text-align: center;
    font-size: 125%;
    }

@media only screen and (max-width: 800px) {
    .colorselector_subTextContainer {
        translate: 30% -100%;
        rotate: -5deg;
        width: 220px;
    }
    .subtext_text{
        font-size: 28px;
    }

}
