.navBar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--element);
  z-index: 500;
  font-size: 2em;
}

.navItemContainer {
  height: 80px;
}

.doodleSwitch_Container {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  top: -3px;
  margin-right: 5px;
}

.doodleswitch_top {
  margin-bottom: -20px;
  font-size: 40px;
}
.doodleswitch_bottom {
  font-size: 40px;
}

.navItemblock {
  height: inherit;
  display: flex;
  position: absolute;
  align-items: center;
}
.navitemleft {
  margin-left:1vw;
  z-index: 1;
}

.navitemright {
  right: 6.2vw;
  width: fit-content;
}

.naw {
  margin-left: 20px;
  cursor: pointer;
    &:hover{
    color: var(--maincolor)
  }
}

@media only screen and (max-width: 800px) {
  .navItemContainer {
    height: 130px;
  }
  .navitemright {
    top: 42px;
  }
  .navitemleft {
    margin-top: 5px;
  }
  .navItemblock {
    height: fit-content;
  }
}

@media only screen and (max-width: 624px) {
  .navitemleft {
    transform: translateX(-12vw);
  }
  .navitemright {
    transform: translateX(-12vw);
  }

}
