.carousel {
  position: fixed;
  padding-top: 70vw;
  padding-bottom: 32px;
  overflow: hidden;
  width: 100vw;
  pointer-events: none;
  z-index: 500;
  &:hover {
    z-index: 400;
    .indicatorContainer {
      transition-duration: 0.5s;
      background-color: transparent;
    }
  }
}

.carouselBackBlock {
  position: absolute;
  width: 100vw;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.removeCarouselShader {
  transition-duration: 0s;
  transition-delay: 0s;
}

.carouselLane {
  margin-top: 16px;
  margin-bottom: 16px;
  z-index: 15;
  pointer-events: all;
}

.carouselItem {
  position: absolute;
  display: inline-flex;
}

.indicators {
  position: relative;
  width: 100vw;
  left: 0px;
  transition: none;
  top: -16px
}

.prevButton {
  left: 0px;
  cursor: pointer;
  pointer-events: all;
}

.nextButton {
 position: absolute;
  cursor: pointer;
  pointer-events: all;
}

.indicatorContainer {
  overflow: hidden;
  position: absolute;
  background-color: var(--element);
  opacity: .8;
  border: none;
}

.carouselItemInCarousel {
  z-index: 150;
  position: absolute;
}

.arrowContainer {
  position: absolute;
  top: 16px;
  opacity: 0.4;
  &:hover {
      opacity: 0.8;
      transition-duration: 0.2s;
    }
}

.carouselDoodleContainer {
  position: absolute;
  bottom: 100px;
  right: 1px;
  pointer-events: none;
}

.leftRight {
  position: relative;
  width: 100%;
  height: 60%;
  left: 0px;
  top: 0px;
  rotate: 10deg;
}

.doodleText {
  position: relative;
  width: 100%;
  height: 60%;
  left: 5px;
  top: 0px;
  rotate: -3deg;
  font-size: 20px;
  user-select: none;
}

.curvedArrowDown {
  position: absolute;
  width: 60%;
  height: 60%;
  left: -65%;
  bottom: -50%;
  rotate: 5deg;
}

.carouselText {
  position: absolute;
  bottom: 30px;
  transform: rotate(-7deg);
  font-size: 24px;
  user-select: none;
}

@media only screen and (max-width: 1400px) {
  .carousel {
    position: fixed;
    bottom: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .carouselText {
    font-size: 18px;
  }
  .doodleText {
    font-size: 15px;
    height: 80%;
    left: 1px;
    width: 80%;
  }
  .carouselDoodleContainer {
    bottom: 80px;
  }
}

@media only screen and (max-width: 624px) {
  .carouselText {
    font-size: 14px;
  }
  .doodleText {
    font-size: 14px;
    height: 80%;
    left: 1px;
    width: 80%;
  }
  .carouselDoodleContainer {
    bottom: 120px;
  }
  .curvedArrowDown {
    bottom: -180%;
    left: -80%;
  }
}
