.introContainer{
  width: 100%;
  height: 100%;
  z-index: -999;
  background-color: #0b0b0b;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4.2vw;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
}
.name{
  font-size: 4.2vw;
  animation: smallerName;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: 1s;
}
.introStartButton {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1vw solid #009696;
  border-top: 1vw solid transparent;
  background-color: transparent;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  text-shadow: 1px 1px 3px var(--blackish);
  font-size: 4vw;
  font-family: "Permanent Marker", cursive;
  cursor: pointer;
  &:hover {
    animation: buttonRoll .4s forwards;
  }
}
.introButtonText{
  rotate: -10deg;
  opacity: .9;
  color: white;
  animation: goBlink 2s;
  animation-iteration-count: infinite;
  animation-delay: 18s;
}
.introTitle {
  position: relative;
  line-height: 0.8;
  animation: lineHeight 1s forwards;
  text-shadow: 1px 1px 2px var(--blackish);
  animation-delay: 1s;
}
.introStartButtonContainer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  margin-bottom: 14vw;
  animation: lowerButtonContainer, raiseButtonContainer;
  animation-fill-mode: forwards;
  animation-duration: 1.5s, 1.5s;
  animation-delay: 1s, 20s;
}
.introVideoWrapper{
  position: absolute;
  display: flex;
  align-self: auto;
  align-content: center;
  padding-top: -56.25%;
  top: auto;
  width: 100% ;
}

@keyframes lowerButtonContainer {
  100% {
    transform:
    translateX(30vw)
    translateY(calc(53vh));
  }
}
@media only screen and (max-width: 1200px) {
  @keyframes lowerButtonContainer {
    100% {
      transform:
      translateX(30vw)
      translateY(calc(51vh))
      scale(1.2)
    }
  }
}
@media only screen and (max-width: 800px) {
  @keyframes lowerButtonContainer {
    100% {
      transform:
      translateX(25vw)
      translateY(calc(49vh))
      scale(1.4)
    }
  }
}
@media only screen and (max-width: 600px) {
  @keyframes lowerButtonContainer {
    100% {
      margin-bottom: 18vw;
      transform:
      translateX(12vw)
      translateY(calc(44vh))
      scale(2.5)
    }
  }
}
@keyframes raiseButtonContainer {
  100% {
    transform:
    translateX(0vw)
    translateY(0vw)
    scale(2)
  }
}
@keyframes smallerName {
  100% {
    font-size: 2.62vw;
    padding-left: 0.1vw;
  }
}
@keyframes lineHeight {
  0% {line-height: 0.8;}
  100% {line-height: 0.53;}
}
@keyframes goBlink {
  0% {
    color: white
  }
  10% {
    color: var(--offWhite)
  }
  30% {
    color: white
  }
  45% {
    color: var(--offWhite)
  }
  60% {
    color: white
  }
  100% {
    color: white
  }
}

@keyframes buttonRoll{
  0% {
    transform:
    rotate(0deg)
   }
  100% {
    transform:
    rotate(360deg)
  }
}
@media (max-aspect-ratio: 8/5) {
  .introVideoWrapper{
    height: 100%;
    width: auto;
  }
}