.introContainer {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.introVideoWrapper {
  position: absolute;
  display: flex;
  align-content: center;
  top: auto;
  width: 100%;
}

.introButtonContainer {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 2vw;
  animation: lowerButtonContainer 6s forwards;
}

.loaderbutton {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border: none;
  align-items:  center;
  background-color: transparent;
  cursor: pointer;
}

@keyframes lowerButtonContainer {
  25% {
    transform:
    scale(.05);
  }
  100% {
    transform:
    translateY(calc(46vh))
    scale(.05);
  }
}

@media (max-aspect-ratio: 8/5) {
  .introVideoWrapper {
    height: 100%;
    width: auto;
  }

  @keyframes lowerButtonContainer {
    25% {
      transform:
      scale(.2);
    }
    100% {
      transform:
      translateY(calc(46vh))
      scale(.2);
    }
  }
}
