.introContainer {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.introVideoWrapper {
  position: absolute;
  display: flex;
  align-content: center;
  top: auto;
  width: 100%;
}

.introButtonContainer {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 2vw;
  animation: lowerButtonContainer 2s forwards;
}

.loaderbutton {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border: none;
  align-items:  center;
  background-color: transparent;
  cursor: pointer;
}

.skipText {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 0;
  height: 4vh;
  color: var(--maincolor);
  border-right: 0.3em solid transparent;
  font-size: 2vh;
  animation: textgrow 2s forwards, typing 2.5s 2.5s steps(13, end) forwards, blink-caret .5s 2.5s infinite;
}

@keyframes lowerButtonContainer {
  100% {
    transform: translateY(calc(42vh)) scale(0.05);
  }
}

@keyframes textgrow {
  100% {
    transform:
    scale(10)
    translateY(3vh);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 105%;
  }
}

@keyframes blink-caret {
  from,
  to {border-color: transparent;}
  50% {border-color: var(--accentcolor);}
}

@media (max-aspect-ratio: 8/5) {
  .introVideoWrapper {
    height: 100%;
    width: auto;
  }
}
