.blockLeft_container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(30deg, var(--tonecolor) 10%, var(--element) 100%);
  border-right: 0.3vw solid var(--maincolor);
  top: 95px;
  padding: 20px;
  border-radius: 0.2vw;
  overflow-y: scroll;
}

.blockLeft_video {
  position: relative;
  border-radius: 0.2vw;
}
.blockLeft_pictures {
  position: relative;
}

.Bigblock_doodle {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 30px;
  pointer-events: none;
  z-index: 2;
}

.videoIcon {
  position: relative;
  width: 50%;
  transform: rotate(-13deg);
  top: 75%;
  left: 45%;
}

.doodle_light {
  font-size: 20px;
  top: -10%;
  left: 10%;
  rotate: 10deg;
}

.doodle_camera {
  font-size: 20px;
  top: 18%;
  rotate: -7deg;
}

.doodle_action {
  font-size: 24px;
  top: 42%;
  rotate: -20deg;
}

@media only screen and (max-width: 800px) {
  .blockLeft_container {
    top: 175px;
    overflow: unset;
  }
  .Bigblock_doodle {
    height: 100px;
    width: 100px;
  }
  .doodle_light {
    font-size: 18px;
  }
  .doodle_camera {
    font-size: 18px;
  }
  .doodle_action {
    font-size: 21px;
  }
  .blockLeft_container {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 1400px) {
  .blockLeft_container {
    overflow: visible;
    min-height: fit-content;
  }
}