.pictures_img_Container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.2vw;
}

.pictures_img {
  border-radius: 0.2vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  cursor: pointer;
}

.pictures_doodle {
  position: absolute;
  width: 500px;
  height: 120px;
  bottom: 2vw;
  pointer-events: none;
}

.pictures_subText{
  position: relative;
  rotate: 12deg;
  font-size: 22px;
  text-align: center;
  top: -40%;
  left: -5%;
}
.camera {
  position: relative;
  width: 16%;
  height: 55%;
  rotate: -5deg;
  bottom: -40%;
}

.pictures_handDrawnRigth {
  position: relative;
  width: 25%;
  height: 80%;
  rotate: -50deg;
  bottom: 100%;
  left: 75%;
}

@media only screen and (max-width: 800px) {
  .pictures_doodle {
    position: absolute;
    width: 80vw;
    height: 20vw;
    bottom: 0px;
  }
  .pictures_subText{
    font-size: 3vw;
    left: -10%;
  }
    .pictures_handDrawnRigth {
      rotate: -40deg;
      height: 60%;
      bottom: 80%;
      left: 60%;
  }
}