.pictures_img_Container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.2vw;
}

.pictures_img {
  border-radius: 0.2vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  cursor: pointer;
}

.pictures_doodle {
  position: absolute;
  width: 10vw;
  height: 10vw;
  bottom: 6vh;
  transform: rotate(23deg);
}

.pictures_subText{
  transform: rotate(12deg) translateY(-60%);
  font-size: 28px;
  margin-left: 7%;
}
.camera {
  width: 50%;
  height: 45%;
  transform: rotate(-5deg) translateY(20%);
}

.pictures_handDrawnRigth {
  position: relative;
  width: 40%;
  margin-top: 30%;
  margin-left: 55%;
}