.pictureModal_Container {
  position: absolute;
  width: 90vw;
  height: 90vh;
  left: 0;
  z-index: 999;
  border-radius: 0.2vw;
  transition-duration: 0.5s;
  overflow: hidden;
}

.pictureModal_Picture {
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;
  height: 100vh;
  border-radius: 0.2vw;
}

.pictureModal_PictureDescription {
  position: fixed;
  bottom: 0;
  left: 0vw;
  width: 100vw;
  text-align: left;
  color: var(--tonecolor);
  text-shadow: px 1px 1px var(--maincolor);
  background-color: var(--blackish);
  z-index: 999;
  height: 15px;
  opacity: 0;
  text-align: center;
  padding: 10px;
  border-radius: 0.2vw;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(10%);
}

.show {
  opacity: 1;
}