.miniModal_button {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--maincolor);
  border: 1px solid var(--light);
  color: var(--text);
  border-radius: 1vw 0 1vw 0;
  transform: skewX(-10deg);
  box-shadow: inset -1px 1px 0.8vw var(--halfshadow),
              inset 0.1vw -0.1vw 0.3vw var(--light);
  animation: cssAnimation 0s 500ms forwards;
  visibility: hidden;
  cursor: pointer;
  transition-duration: 200ms;
  &:hover {
    box-shadow: 1px -1px 0.6vw var(--halfshadow),
      inset -2px 2px 0.6vw var(--light);
    color: var(--accentcolor)
  }
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}
