.miniModal_button {
  position: relative;
  display: flex;
    background-color: var(--maincolor);
    border: 1px solid var(--light);
    color: var(--text);
    border-radius: 1vw 0 1vw 0;
    transform: skewX(-10deg);
    box-shadow: inset -1px 1px .8vw var(--halfshadow),
                inset 0.1vw -0.1vw .3vw var(--light);
    animation: cssAnimation 0s 500ms forwards;
    visibility: hidden;
    cursor: pointer;
    transition-duration: 200ms;
    &:hover{
        box-shadow: 1px -1px .6vw var(--halfshadow),
        inset -2px 2px .6vw var(--light);
    }
}

.miniModal_button svg {
  width: 100%;
  height: 100%;
  text-align: center;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

